<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>상품 상세 정보</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body th:align="center">
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">

    <tr><td width="500">상품 번호 : 8 </td> </tr>
    <tr><td width="300">상품 이름 : 슈즈 8 </td> </tr>
    <tr><td width="300">가격 : 1000 </td> </tr>
    <tr><td width="200">갯수 : 30 </td> </tr>

</table>

</body>
</html>