<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">

<head>
    <title>상품 목록</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        div.shoplist {
            position: center;
            border: solid 1px grey;
            margin: auto;
        }

        div.inner_shop_item {
            border: 1px solid darkkhaki;
            float: left;
            width: 30%;
        }

        .outer_shop_list {
            width: 90%;
            position: center;
        }
    </style>
</head>


<div layout:fragment="content">
    <div style="position: center"><h3> 상품 목록 </h3></div>

    <div class="panel-body" style="margin-left: 300px; margin-right: 300px">

        <div class="outer_shop_list">
            <div class="shoplist" th:with="list=${productList}">
                <div class="inner_shop_item" th:each="product : ${productList}">
                    <div>
                    <img th:src="@{/image/macbook.png}" style="max-width: 90%; height: auto">
                    </div>
                    <hr style="border:solid 1px black"/>
                    <div>[[${product.id}]]</div>
                    <div><a th:href="${product.id}" class="productLink">[[${product.name}]]</a></div>
                    <div>[[${product.price}]]</div>
                    <div>[[${product.quantity}]]</div>
                </div>

            </div>
        </div>
        <form id='f1' th:action="@{list}" method="get" accept-charset="UTF-8">
        </form>
    </div>

</div>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function () {
                var formObj = $("#f1");

                $(".productLink").click(function (e) {
                    e.preventDefault();
                    var productNo = $(this).attr("href");
                    formObj.attr("action", [[@{'/view/product/detail'}]]);
                    formObj.append("<input type='hidden' name='id' value='" + productNo + "'>");
                    formObj.submit();
                });
            });
        </script>
    </th:block>


</html>