<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">

<head>
    <title>상품 목록</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>


<div layout:fragment="content">
    <div class="panel-heading">상품 목록</div>

    <div class="panel-body" th:with="list=${productList}">
        <table class="table table-striped table-bordered table-hover"
                th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
        <tr>
            <th bgcolor="#00bfff" width="50">상품 ID</th>
            <th bgcolor="#00bfff" width="200">상품 이름</th>
            <th bgcolor="#00bfff" width="100">상품 가격</th>
            <th bgcolor="#00bfff" width="50">상품 갯수</th>
        </tr>

        <tr class="odd gradeX"
                th:each="product : ${productList}">
            <td>[[${product.id}]]</td>
            <td> <a th:href="${product.id}" class="productLink">[[${product.name}]]</a> </td>
            <td>[[${product.price}]]</td>
            <td>[[${product.quantity}]]</td>
        </tr>
        </table>
    </div>


    <form id ='f1' th:action="@{list}" method="get" accept-charset="UTF-8">
    </form>

</div>



<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var formObj = $("#f1");

            $(".productLink").click(function(e){
                e.preventDefault();
                var productNo = $(this).attr("href");
                formObj.attr("action", [[@{'/view/product/detail'}]]);
                formObj.append("<input type='hidden' name='id' value='" + productNo + "'>");
                formObj.submit();
            });
        });
    </script>
</th:block>


</html>