<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">

<head>
    <title>관리자 권한</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../../Bootstrap-Admin/vendors/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css"></link>
</head>

<div layout:fragment="content">
    <div class="panel-body">

        <div class="container-fluid">
            <div class="row-fluid">

                <!--/span-->
                <div class="span9" id="content">
                    <div class="row-fluid">
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert"></button>
                            <h4>상품 정보</h4>
                        </div>
                    </div>

                    <div>
                        <div class="table-responsive">
                            <table class="table">

                                <tr>
                                    <th class="success">상품명</th>
                                    <td colspan="10"><input type="text" name="name" id="name" th:value="${product.name}"/></td>
                                </tr>

                                <tr>
                                    <th>판매가</th><td><input type="number" name="price1"  id="price" min="0" th:value="${product.price}"/></td>
                                    <th>재고</th><td><input type="number" name="cnt"  id="cnt" min="0" th:value="${product.quantity}"/></td>
                                </tr>

                                <tr>
                                    <th>판매여부</th><td colspan="3"><input type="checkbox" name="enabled" id="enabled" checked="checked" th:checked="${product.enabled}"/></td>
                                </tr>

                                <tr>
                                    <th>상품 이미지</th>
                                    <td colspan="5">
                                        <input type="file" name="image" id="image">
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <br>
                        <br>
                        <div class="text-center">
                            <button id="modifyBtn" class="btn btn-success">수정</button>
                            <button id="delBtn" class="btn btn-danger">삭제</button>
                            <a th:href="@{detail(id=${product.id})}" class="btn btn-primary">취소</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<!-- end fragment -->

<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{'/js/product.js'}"></script>
    <script th:inline="javascript">

        $(document).ready(function() {

            $("#modifyBtn").click(function () {
                var id = [[${product.id}]];
                var name = $("input#name").val();
                var price = $("input#price").val();
                var quantity = $("input#cnt").val();
                var enabled;
                if($("input:checkbox[id='enabled']").is(":checked") == true){
                    enabled = true;
                }
                else{
                    enabled = false;
                }

                console.log('출력 -> id ', id, 'name : ', name, 'price : ', price, 'quantity : ', quantity, 'enabled : ', enabled);
                var obj = {productId:id, name:name, price:price, quantity:quantity, enabled:enabled}

                productManager.update(obj, function(){
                    alert("상품 정보가 변경되었습니다.");
                    window.location.href = "/view/product/manage/detail?id=" + id;
                });

            });

            $("#delBtn").click(function () {
                if (confirm("삭제하시겠습니까?") == true){    //확인

                    var id = [[${product.id}]];
                    var obj = {productId : id};

                    productManager.remove(obj, function(){
                        window.location.href = "/view/product/manage/list"
                    });
                }else{}

            });

        });

    </script>
</th:block>
</html>