<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">

<div layout:fragment="content">
    <div class="panel-heading">자유게시글 등록</div>
    <div class="panel-body">
        <div>
            <div class="form-group">
                <label>제목</label>
                <input class="form-control" id="titleInput" name="title" th:value="${board.title}"/>
                <p class="help-block">Title text here</p>
            </div>

            <div class="form-group">
                <label>내용</label>
                <textarea class="form-control" rows="3" name="content" id="textContent" th:text="${board.content}"></textarea>
            </div>

            <div class="form-group">
                <label>작성자</label>
                <input class="form-control" th:value="TestUser" readonly/>
            </div>

            <button id="registerBtn" class="btn btn-default">Submit Button</button>
            <button type="reset" class="btn btn-primary">Reset Button</button>
        </div>
    </div>
</div>



<!-- end fragment -->

<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{'/js/board.js'}"></script>
    <script th:inline="javascript">

        $(document).ready(function() {

            $("#registerBtn").click(function () {

                var content = $("textarea#textContent").val();
                var title = $("input#titleInput").val();

                console.log('출력', 'content : ', content, 'title : ', title);

                var obj = {title: title, content: content}

                boardManager.register(obj, function(list){
                    alert("게시글이 추가되었습니다.");
                    $("textarea#textContent").val("");
                    $("input#titleInput").val("");
                });

            });
        });
    </script>